* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #413b3a;
  --navegation-color: #7cb4b8;
  --hoover-color: #70f8ba;
  --title-color: #cafe48;
  --section-color: #f45b69;
}

img.logo {
  width: 50px;
}

.navbar {
  background-color: var(--bg-color);
  padding: 0 200px;
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--navegation-color);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar a:hover, .dropdown:hover {
  background-color: var(--hoover-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 45px;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--hoover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 20px 200px 10px;
}

footer {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
